<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Longwave</title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/cvepdb/favicon.ico" />







	<link rel="stylesheet" type="text/css" href="../css/cvepdb/default.css" media="all" />
	<!--[if IE 8]>
	<link rel="stylesheet" type="text/css" href="../css/ie8.css" media="all" />
	<![endif]-->

	<script>
		var cvepdb_config = {
			ENV: 'development',
			ENV_REF: 'dev',
			ENV_THEME: '',
			IDUSER: 0,
			LANG: 'fr',
			URI_BASE: '',
			URL_BASE: '',
			URL_SITE: '',
			URL_THEME: '../',
			BASE_PATH: 'js/cvepdbjs/',
			LIVEREALOAD: {
				//			url: '',
				//			port: '',
				project: '0'
			},
			UA: {
				MOBILE: false,
				BROWSER: true
			}
		};
	</script>




</head>
<body class="layout layout--full">
<!-- Begin Body Wrapper -->
<div class="layout__body-wrapper layout__body-wrapper--full">





	<!-- Begin Header Wrapper -->
	<div class="layout__body-wrapper__content-wrapper layout__body-wrapper__content-wrapper--header">
		<!-- Begin Inner -->
		<div class="layout__body-wrapper__content-wrapper__inner layout__body-wrapper__content-wrapper__inner--header">


			<div class="layout__body-wrapper__content-wrapper__inner__logo">
				<a href="index.html">
					<img src="../images/cvepdb/logo.png" alt="Ca va ENCORE parler de bits!" width="200" height="80" />
				</a>
			</div>


			<!-- Begin Menu -->
			<div id="js-layout__body-wrapper__content-wrapper__inner__menu" class="layout__body-wrapper__content-wrapper__inner__menu clearfix js-call-selectnav js-call-ddsmoothmenu js-layout__body-wrapper__content-wrapper__inner__menu">
				<ul id="js-layout__body-wrapper__content-wrapper__inner__menu__list" class="layout__body-wrapper__content-wrapper__inner__menu__list">
					<li>
						<a href="#">Portfolio</a>
						<ul>
							<li><a href="index.html">Portfolio</a></li>
							<li><a href="portfolio-post1.html">Post Image Half</a></li>
							<li><a href="portfolio-post2.html">Post Slider Half</a></li>
							<li><a href="portfolio-post3.html">Post Slider Wide</a></li>
							<li><a href="portfolio-post4.html">Post Image Wide</a></li>
							<li><a href="portfolio-post5.html">Post Music</a></li>
							<li><a href="portfolio-post6.html">Post Video</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Pages</a>
						<ul>
							<li><a href="index2.html">Alt Home 1</a></li>
							<li><a href="index3.html">Alt Home 2</a></li>
							<li><a href="services.html">Services</a></li>
							<li><a href="about.html">About</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Blog</a>
						<ul>
							<li><a href="blog.html">Blog 1</a></li>
							<li><a href="blog2.html">Blog 2</a></li>
							<li><a href="blog-post.html">Blog Post</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Features</a>
						<ul>
							<li><a href="tab-toggle.html">Tabs and Toggle</a></li>
							<li><a href="button-box.html">Buttons and Boxes</a></li>
							<li><a href="columns.html">Columns</a></li>
							<li><a href="typography.html">Typography</a></li>
							<li><a href="retina-icons.html">Retina Icons</a></li>
						</ul>
					</li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
			<!-- End Menu -->


			<div class="clear"></div>
		</div>
		<!-- End Inner -->
	</div>
	<!-- End Header Wrapper -->






	<!-- Begin Gray Wrapper -->
	<div
	  class="layout__body-wrapper__content-wrapper layout__body-wrapper__content-wrapper--even layout__body-wrapper__content-wrapper--intro">
		<!-- Begin Inner -->
		<div class="layout__body-wrapper__content-wrapper__inner layout__body-wrapper__content-wrapper__inner--intro">
			<h1 class="title alignleft">Title</h1>
			<div class="layout__body-wrapper__content-wrapper__inner__navigation alignright">
			<a href="#"  id="gwi-thumbs" title="All Items"><i class="icon-th"></i></a>
			<a href="#"  id="gwi-prev" title="Previous"><i class="icon-left-open-1"></i></a>
			<a href="#"  id="gwi-next" title="Next"><i class="icon-right-open-1"></i></a>
		</div>
			                                                   <div class="clear"></div>
		</div>
		<!-- End Inner -->
	</div>
	<!-- End Gray Wrapper -->







	<!-- Begin White Wrapper -->
	<div class="layout__body-wrapper__content-wrapper layout__body-wrapper__content-wrapper--odd">
		<!-- Begin Inner -->
		<div class="layout__body-wrapper__content-wrapper__inner">



			<!-- Begin Blog -->
			<div class="layout__body-wrapper__content-wrapper__inner__content">


				<div class="post">
					<div class="frame alignleft">
						<a href="blog-post.html">
							<img src="../images/art/blog1.jpg" alt="" />
							<div></div>
						</a>
					</div>
					<div class="post-content">
						<h2><a href="blog-post.html">Adipiscing Mollis Inceptos</a></h2>
						<div class="meta">
							<span class="date">13 Nov, 2012</span>
							<span class="sep">|</span>
							<span class="comments"><a href="#">Calendar</a>, <a href="#">Icon</a></span>
							<span class="sep">|</span>
							<span class="comments"><a href="#">3 Comments</a></span>
						</div>
						<p>
							Fusce dapibus, tellus cursus commodo, tortor condimentum nibh quam. Cras mattis consectetur purus amet fermentum. Praesent commodo cursus magna, vel scelerisque consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
						<a href="blog-post.html" class="more">Continue reading →</a> </div>
					<div class="clear"></div>
				</div>


				<!-- Begin Page Navi -->
				<div class="layout__body-wrapper__content-wrapper__inner__content__navigation alignright">
					<ul>
						<li><a href="#" class="current">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">Next</a></li>
						<li><a href="#">Last</a></li>
					</ul>
				</div>
				<!-- End Page Navi -->

			</div>
			<!-- End Blog -->



			<!-- Begin Sidebar -->
			<div class="layout__body-wrapper__content-wrapper__inner__sidebar">
				<div class="layout__body-wrapper__content-wrapper__inner__sidebar__sidebox">
					<h3>Popular Posts</h3>
					<ul class="post-list">
						<li>
							<div class="frame"> <a href="blog-post.html"><img src="../images/art/a1.jpg" alt="" />
								<div></div>
							</a> </div>
							<div class="meta">
								<h6><a href="blog-post.html">Magna Mollis Ultricies</a></h6>
								<em>3th Oct 2012</em> </div>
						</li>
						<li>
							<div class="frame"> <a href="blog-post.html"><img src="../images/art/a1.jpg" alt="" />
								<div></div>
							</a> </div>
							<div class="meta">
								<h6><a href="blog-post.html">Ornare Nullam Risus</a></h6>
								<em>28th Sep 2012</em> </div>
						</li>
						<li>
							<div class="frame"> <a href="blog-post.html"><img src="../images/art/a1.jpg" alt="" />
								<div></div>
							</a> </div>
							<div class="meta">
								<h6><a href="blog-post.html">Euismod Nullam</a></h6>
								<em>15th Aug 2012</em> </div>
						</li>
					</ul>
				</div>
				<div class="layout__body-wrapper__content-wrapper__inner__sidebar__sidebox">
					<h3>Search</h3>
					<form class="searchform" method="get">
						<input type="text" id="s2" name="s" value="type and hit enter" onfocus="this.value=''" onblur="this.value='type and hit enter'"/>
					</form>
				</div>
				<div class="layout__body-wrapper__content-wrapper__inner__sidebar__sidebox">
					<h3>Custom Text</h3>
					<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
					<p>Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue. Fusce  mauris condimentum.</p>
				</div>
				<div class="layout__body-wrapper__content-wrapper__inner__sidebar__sidebox">
					<h3>Categories</h3>
					<ul class="list">
						<li><a href="#">Web Design</a> (21)</li>
						<li><a href="#">Photography</a> (19)</li>
						<li><a href="#">Graphic Design</a> (16)</li>
						<li><a href="#">Manipulation</a> (15)</li>
						<li><a href="#">Motion Graphics</a> (12)</li>
					</ul>
				</div>
			</div>
			<!-- End Sidebar -->


			<!-- End Blog -->
			<div class="clear"></div>



		</div>
		<!-- Begin Inner -->
	</div>
	<!-- End White Wrapper -->


	<!-- Begin Footer Wrapper -->
	<div class="layout__body-wrapper__content-wrapper layout__body-wrapper__content-wrapper--footer">
		<!-- Begin Inner -->
		<div class="layout__body-wrapper__content-wrapper__inner">





			<div class="one-third layout__body-wrapper__content-wrapper__inner__widget-footer">
				<h3 class="colored">Get In Touch</h3>

				<p>Fusce dapibus, tellus commodo, tortor mauris condimentum utellus fermentum, porta sem malesuada magna. Sed
				   posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur.</p>

				<i class="icon-location layout__body-wrapper__content-wrapper__inner__widget-footer__contact"></i> Moonshine St. 14/05 Light City, Jupiter <br />

				<i class="icon-phone layout__body-wrapper__content-wrapper__inner__widget-footer__contact"></i> 0247
				                                                                                                   541 65 87 <br />

				<i class="icon-mail layout__body-wrapper__content-wrapper__inner__widget-footer__contact"></i> <a href="mailto:support@longwave.com">support@longwave.com</a>
			</div>


			<div class="one-third layout__body-wrapper__content-wrapper__inner__widget-footer">
				<h3 class="colored">Tags</h3>

				<div class="layout__body-wrapper__content-wrapper__inner__widget-footer__tagcloud">
					<a href="#" style="font-size: 9pt;">blogroll</a>
					<a href="#" style="font-size: 19pt;">daily</a> <a href="#" style="font-size: 9pt;">dialog</a>
					<a href="#" style="font-size: 9pt;">gallery</a> <a href="#" style="font-size: 10pt;">journal</a>
					<a href="#" style="font-size: 9pt;">link</a> <a href="#" style="font-size: 12pt;">motion</a>
					<a href="#" style="font-size: 9pt;">music</a> <a href="#" style="font-size: 20pt;">photo</a>
					<a href="#" style="font-size: 13pt;">professional</a> <a href="#" style="font-size: 16pt;">quotation</a>
					<a href="#" style="font-size: 9pt;">show</a> <a href="#" style="font-size: 15pt;">sound</a>
					<a href="#" style="font-size: 9pt;">tv</a> <a href="#" style="font-size: 9pt;">video</a>
					<a href="#" style="font-size: 9pt;">gift</a> <a href="#" style="font-size: 19pt;">label</a>
					<a href="#" style="font-size: 9pt;">christmas</a> <a href="#" style="font-size: 9pt;">holiday</a>
					<a href="#" style="font-size: 10pt;">fun</a> <a href="#" style="font-size: 9pt;">recipes</a>
					<a href="#" style="font-size: 12pt;">concert</a> <a href="#" style="font-size: 9pt;">drinks</a>
					<a href="#" style="font-size: 20pt;">apps</a> <a href="#" style="font-size: 13pt;">iphone</a>
					<a href="#" style="font-size: 16pt;">ipad</a> <a href="#" style="font-size: 9pt;">develop</a>
					<a href="#" style="font-size: 15pt;">marketing</a> <a href="#" style="font-size: 9pt;">strategy</a>
					<a href="#" style="font-size: 13pt;">food</a> <a href="#" style="font-size: 12pt;">typography</a>
					<a href="#" style="font-size: 9pt;">mobile</a> <a href="#" style="font-size: 15pt;">envato</a>
					<a href="#" style="font-size: 9pt;">icon</a> <a href="#" style="font-size: 9pt;">coda</a>
					<a href="#" style="font-size: 20pt;">jquery</a> <a href="#" style="font-size: 9pt;">cms</a></div>
			</div>


			<div class="one-third last layout__body-wrapper__content-wrapper__inner__widget-footer">
				<h3 class="colored">About</h3>

				<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget
				   metus. Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit.</p>

				<p>Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor
				   ligula, eget lacinia odio sem nec elit.</p>
			</div>
			<div class="clear"></div>








		</div>
		<!-- Begin Inner -->
	</div>
	<!-- End Footer Wrapper -->

	<!-- Begin Sub Footer Wrapper -->
	<div class="layout__body-wrapper__content-wrapper layout__body-wrapper__content-wrapper--subfooter">
		<!-- Begin Inner -->
		<div class="layout__body-wrapper__content-wrapper__inner layout__body-wrapper__content-wrapper__inner--subfooter">






			<p>© 2012 Longwave. All rights reserved. Theme by <a href="http://elemisfreebies.com">elemis</a>.</p>


			<ul class="social">
				<li><a href="#"><i class="icon-s-rss"></i></a></li>
				<li><a href="#"><i class="icon-s-twitter"></i></a></li>
				<li><a href="#"><i class="icon-s-facebook"></i></a></li>
				<li><a href="#"><i class="icon-s-dribbble"></i></a></li>
				<li><a href="#"><i class="icon-s-pinterest"></i></a></li>
				<li><a href="#"><i class="icon-s-flickr"></i></a></li>
				<li><a href="#"><i class="icon-s-vimeo"></i></a></li>
			</ul>
			<div class="clear"></div>





		</div>
		<!-- Begin Inner -->
	</div>
	<!-- End Sub Footer Wrapper -->





</div>
<!-- End Body Wrapper -->

<script type="text/javascript" src="../js/cvepdbjs/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../js/cvepdbjs/libs/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../js/cvepdbjs/libs/headjs/dist/1.0.0/head.min.js"></script>
<script type="text/javascript" src="../js/cvepdbjs/cvepdb.js"></script>

<script type="text/javascript" src="../js/longwave/longwave.js"></script>
</body>
</html>