.layout__body-wrapper__content-wrapper--even {
    background: #f9f9f9;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.layout__body-wrapper__content-wrapper__inner__navigation {
    margin-top: 6px
}
.layout__body-wrapper__content-wrapper__inner__navigation a i {
    background: #ebebeb;
    width: 34px;
    height: 34px;
    display: block;
    text-align: center;
    color: #8e8e8e;
    float: left;
    margin-left: 4px;
    font-size: 15px;
    padding-top: 4px;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.layout__body-wrapper__content-wrapper__inner__navigation a:hover i {
    background-color: #88d5c2;
    color: #FFF;
}
.layout__body-wrapper__content-wrapper__inner__navigation a .icon-left-open-1 {
    padding-right: 1px
}
.layout__body-wrapper__content-wrapper__inner__navigation a .icon-right-open-1 {
    padding-left: 1px
}
.layout__body-wrapper__content-wrapper__inner__navigation a .icon-th {
    font-size: 20px;
    padding-top: 4px;
    width: 35px;
    padding-left: 1px;
}
/* FIREFOX FIX */
@-moz-document url-prefix() {
    .layout__body-wrapper__content-wrapper__inner__navigation a .icon-right-open-1 {
        padding-left: 2px
    }
}
