.layout__body-wrapper__content-wrapper--footer {
    background: #444
}
.layout__body-wrapper__content-wrapper--footer,
.layout__body-wrapper__content-wrapper--footer a {
    color: #d9d9d9
}
.layout__body-wrapper__content-wrapper--footer a:hover {
    color: #88d5c2
}

/*-----------------------------------------------------------------------------------*/
/*	MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/

/* iPad Landscape */
$dimension_ipad_min-width: 768px !default;
$dimension_ipad_max-width: 1200px !default;

/* Tablet Portrait size to standard 960 (devices and browsers) */
$dimension_portrait_min-width: 768px !default;
$dimension_portrait_max-width: 959px !default;

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
$dimension_mobile_min-width: 480px !default;
$dimension_mobile_max-width: 767px !default;

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
$dimension_portrait_mobile_max-width: 479px !default;

/* iPad Landscape */
@media only screen and (min-width: $dimension_ipad_min-width) and (max-width: $dimension_ipad_max-width) {

}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: $dimension_portrait_min-width) and (max-width: $dimension_portrait_max-width) {

} /* END Smaller than standard 960 (devices and browsers) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: $dimension_mobile_min-width) and (max-width: $dimension_mobile_max-width) {
    .layout__body-wrapper__content-wrapper--footer .one-half,
    .layout__body-wrapper__content-wrapper--footer .one-third,
    .layout__body-wrapper__content-wrapper--footer .two-third,
    .layout__body-wrapper__content-wrapper--footer .three-fourth,
    .layout__body-wrapper__content-wrapper--footer .one-fourth,
    .layout__body-wrapper__content-wrapper--footer .one-fifth,
    .layout__body-wrapper__content-wrapper--footer .one-sixth {
        margin-bottom: 40px
    }
    .layout__body-wrapper__content-wrapper--footer .last {
        margin-bottom: 0
    }
} /* END Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: $dimension_portrait_mobile_max-width) {
    .layout__body-wrapper__content-wrapper--footer .one-half,
    .layout__body-wrapper__content-wrapper--footer .one-third,
    .layout__body-wrapper__content-wrapper--footer .two-third,
    .layout__body-wrapper__content-wrapper--footer .three-fourth,
    .layout__body-wrapper__content-wrapper--footer .one-fourth,
    .layout__body-wrapper__content-wrapper--footer .one-fifth,
    .layout__body-wrapper__content-wrapper--footer .one-sixth {
        margin-bottom: 40px
    }
    .layout__body-wrapper__content-wrapper--footer .last {
        margin-bottom: 0
    }
} /* END Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
