.layout__body-wrapper__content-wrapper--header {
    background: #FFF
}
.layout__body-wrapper__content-wrapper__inner--header {
    padding: 40px 0
}
.layout__body-wrapper__content-wrapper__inner--multigaming {
    padding-top: 20px;
}
