.layout__body-wrapper__content-wrapper {}
.layout__body-wrapper__content-wrapper__inner {
    width: 1040px;
    margin: 0 auto;
    padding: 50px 0;
}
/*-----------------------------------------------------------------------------------*/
/*	MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/

/* iPad Landscape */
$dimension_ipad_min-width: 768px !default;
$dimension_ipad_max-width: 1200px !default;

/* Tablet Portrait size to standard 960 (devices and browsers) */
$dimension_portrait_min-width: 768px !default;
$dimension_portrait_max-width: 959px !default;

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
$dimension_mobile_min-width: 480px !default;
$dimension_mobile_max-width: 767px !default;

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
$dimension_portrait_mobile_max-width: 479px !default;

/* iPad Landscape */
@media only screen and (min-width: $dimension_ipad_min-width) and (max-width: $dimension_ipad_max-width) {
    .layout__body-wrapper__content-wrapper__inner {
        width: 960px
    }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: $dimension_portrait_min-width) and (max-width: $dimension_portrait_max-width) {
    .layout__body-wrapper__content-wrapper__inner {
        width: 720px
    }
} /* END Smaller than standard 960 (devices and browsers) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: $dimension_mobile_min-width) and (max-width: $dimension_mobile_max-width) {
    .layout__body-wrapper__content-wrapper__inner {
        width: 440px
    }
} /* END Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: $dimension_portrait_mobile_max-width) {
    .layout__body-wrapper__content-wrapper__inner {
        width: 280px
    }
} /* END Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */