/*-----------------------------------------------------------------------------------*/
/*	COMMENTS
/*-----------------------------------------------------------------------------------*/
#comments {
    margin: 0
}
#comments ol.commentlist {
    list-style: none;
    margin: -5px 0 0 0;
}
#comments ol.commentlist li {
    padding: 20px 0 0 0;
    background: none;
}
#comments .user {
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
#comments .message {
    overflow: hidden;
    padding: 15px 20px 0 20px;
    background-color: #f9f9f9;
    border: 1px solid #e7e7e7;
    position: relative;
}
#comments ul.children {
    margin: 0;
    overflow: inherit;
    padding: 0 0 0 55px;
}
#comments ol.commentlist ul.children li {
    padding-right: 0;
    border: none;
}
#comments .info h2 {
    font-size: 12px;
    margin: 0;
    display: inline;
    margin-right: 5px;
}
#comments .info {
    margin-bottom: 12px
}
#comments .info h2 a {
    color: #505050
}
#comments .info h2 a:hover {
    color: #88d5c2
}
#comments .info .meta {
    font-size: 11px;
    color: #999999;
    display: inline;
}
#comments .info .meta:before {
    content: "-";
    display: inline-block;
    margin-right: 10px;
}
#comments a.reply-link {
    position: absolute;
    right: 20px;
    top: 20px;
    line-height: 1;
    font-size: 9px;
    color: #707070;
    text-transform: uppercase;
}
#comments a.reply-link:hover {
    color: #88d5c2
}
.comment-form-wrapper {
    margin-top: 50px
}