/**
 * Decoupage du theme longwave
 *
 * @author Antoine Benevaut <antoine@cavaencoreparlerdebits.fr>
 */

@import '../../../../longwave/scss/longwave/reset';

/*
 * Paths
 */

$path_base: '/assets/';
$path_images: $path_base + 'images/';
$path_fonts: $path_base + 'fonts/';
$path_fonts_fontello: $path_fonts + 'fontello/';

/*
 * Dimensions
 */

/* iPad Landscape */
$dimension_ipad_min-width: 768px;
$dimension_ipad_max-width: 1200px;

/* Tablet Portrait size to standard 960 (devices and browsers) */
$dimension_portrait_min-width: 768px;
$dimension_portrait_max-width: 959px;

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
$dimension_mobile_min-width: 480px;
$dimension_mobile_max-width: 767px;

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
$dimension_portrait_mobile_max-width: 479px;

@import '../../../../longwave/scss/longwave/fonts/fontello';

/*
 * HTML basics configuration and base layouts
 */
@import '../../../../longwave/scss/longwave/body/required_before';
@import '../../../../longwave/scss/longwave/body/box';
@import '../../../../longwave/scss/longwave/body/light';
@import '../../../../longwave/scss/longwave/body/theme/light_red';

/*
 * Elements
 */
@import '../../../../longwave/scss/longwave/elements-basics/required_before';
@import '../../../../longwave/scss/longwave/elements-basics/buttons';
@import '../../../../longwave/scss/longwave/elements-basics/theme/buttons/buttons_light';
@import '../../../../longwave/scss/longwave/elements-basics/colored';
@import '../../../../longwave/scss/longwave/elements-basics/theme/colored/colored_light_red';
@import '../../../../longwave/scss/longwave/elements-basics/dribble';
@import '../../../../longwave/scss/longwave/elements-basics/dropcap';
@import '../../../../longwave/scss/longwave/elements-basics/forms';
@import '../../../../longwave/scss/longwave/elements-basics/grid';
@import '../../../../longwave/scss/longwave/elements-basics/info-box';
@import '../../../../longwave/scss/longwave/elements-basics/line';
@import '../../../../longwave/scss/longwave/elements-basics/theme/line/line_light';
@import '../../../../longwave/scss/longwave/elements-basics/lite';
@import '../../../../longwave/scss/longwave/elements-basics/retina-icons';
@import '../../../../longwave/scss/longwave/elements-basics/social-icons';
@import '../../../../longwave/scss/longwave/elements-basics/special';
@import '../../../../longwave/scss/longwave/elements-basics/testimonials';
@import '../../../../longwave/scss/longwave/elements-basics/twitter';

/*
 * Elements JS
 */
@import '../../../../longwave/scss/longwave/elements-js/hoverdir';
@import '../../../../longwave/scss/longwave/elements-js/tabs';
@import '../../../../longwave/scss/longwave/elements-js/toggle';

/*
 * Content wrappers (inside layouts)
 */
@import '../../../../longwave/scss/longwave/wrappers/required_before';
@import '../../../../longwave/scss/longwave/wrappers/even';
@import '../../../../longwave/scss/longwave/wrappers/theme/even_evil'
;
@import '../../../../longwave/scss/longwave/wrappers/footer';
@import '../../../../longwave/scss/longwave/wrappers/header';
@import '../../../../longwave/scss/longwave/wrappers/breadcrumbs';
@import '../../../../longwave/scss/longwave/wrappers/intro';
@import '../../../../longwave/scss/longwave/wrappers/odd';
@import '../../../../longwave/scss/longwave/wrappers/page-title';
@import '../../../../longwave/scss/longwave/wrappers/subfooter';
@import '../../../../longwave/scss/longwave/wrappers/theme/subfooter_red';

/*
 * Content wrapper widgets
 */
@import '../../../../longwave/scss/longwave/wrappers/widgets/widget-clients-list';
@import '../../../../longwave/scss/longwave/wrappers/widgets/theme/clients-list/widget-clients-list-light';
@import '../../../../longwave/scss/longwave/wrappers/widgets/widget-content';
@import '../../../../longwave/scss/longwave/wrappers/widgets/widget-footer';
@import '../../../../longwave/scss/longwave/wrappers/widgets/widget-logo';
@import '../../../../longwave/scss/longwave/wrappers/widgets/widget-menu-right';
@import '../../../../longwave/scss/longwave/wrappers/widgets/theme/menu-right/widget-menu-right_light_red';
@import '../../../../longwave/scss/longwave/wrappers/widgets/widget-services';
@import '../../../../longwave/scss/longwave/wrappers/widgets/widget-posts';
@import '../../../../longwave/scss/longwave/wrappers/widgets/theme/posts/widget-posts_light_red';
@import '../../../../longwave/scss/longwave/wrappers/widgets/widget-portfolio';
@import '../../../../longwave/scss/longwave/wrappers/widgets/widget-share';
@import '../../../../longwave/scss/longwave/wrappers/widgets/widget-slider-revolution';
@import '../../../../longwave/scss/longwave/wrappers/widgets/widget-details';
@import '../../../../longwave/scss/longwave/wrappers/widgets/theme/details/widget-details_light';

/*
 * cvepdbJS
 */

$basics_debug_colors: red, yellow, green;

@import '../../../sass/basics/align';
@import '../../../sass/basics/debug';
@import '../../../sass/basics/text';
@import '../../../sass/basicsjs/required-before';
@import '../longwave_fix';

.layout__body-wrapper__content-wrapper__inner__widget-clients-list__list__frame--tradebot {
  opacity: 0.7;
  margin-left: 15%;
}

/* iPad Landscape */
@media only screen and (min-width: $dimension_ipad_min-width) and (max-width: $dimension_ipad_max-width) {
  .layout__body-wrapper__content-wrapper__inner__widget-clients-list__list__frame--tradebot {
    margin-left: 15%;
  }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: $dimension_portrait_min-width) and (max-width: $dimension_portrait_max-width) {
  .layout__body-wrapper__content-wrapper__inner__widget-clients-list__list__frame--tradebot {
    margin-left: 15%;
  }
} /* END Smaller than standard 960 (devices and browsers) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: $dimension_mobile_min-width) and (max-width: $dimension_mobile_max-width) {
  .layout__body-wrapper__content-wrapper__inner__widget-clients-list__list__frame--tradebot {
    margin-left: 7%;
  }
} /* END Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: $dimension_portrait_mobile_max-width) {
  .layout__body-wrapper__content-wrapper__inner__widget-clients-list__list__frame--tradebot {
    margin-left: 4%;
  }
} /* END Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
