.label-complete {
  background-color: #48b0f7;
  color: #fff;
}
.badge-complete {
  background-color: #48b0f7;
  color: #ffffff;
}
.form-my_group {
  margin-bottom: 10px;
  background-color: #fff;
  position: relative;
  border: 1px solid rgba(0,0,0,.07);
  border-radius: 2px;
  overflow: hidden;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
  padding: 7px 12px 4px;
}