[submodule "nodejs/steambot"]
	path = nodejs/steambot
	url = git@gitlab.com:multigaming-cvepdb/steambot.git
[submodule "nodejs/teamspeakbot"]
	path = nodejs/teamspeakbot
	url = git@gitlab.com:multigaming-cvepdb/teamspeakbot.git
