/vendor
/bin
/node_modules
/public/storage
Homestead.yaml
Homestead.json
resources/assets/bower
public/assets/*
public/modules/*
public/themes/*
public/uploads/*
resources/views/modules/*

# Dotenv
.env
.env.*
!.env.example
!.env.installer
!.env.testing
.env.production

# Modules directory
modules/Themes
modules/Dashboard
modules/Installer
resources/themes

# Tests
!tests/_data/*
tests/_output/*
tests/_support/_generated/*

# Deployer
!deployer/shared/.env.example
!deployer/shared/.env.production.example
deployer/release
deployer/releases
deploy.yml
deployer/current
