bin
bin/*
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env

tests/_output/*

.idea
.idea/*

public/assets
public/assets/*
public/*.xml
public/*.pdf

storage/databases/testing.sqlite
awsaccess.json


# Deployer
!deployer/shared/.env.example
deployer/release
deployer/releases
deploy.yml
deployer/current