server-1:
  hostname: localhost
  user: bellumindustria
  port: 22
  configFile: ~/.ssh/config
  identityFile: ~/.ssh/id_rsa
  forwardAgent: true
  multiplexing: true
  options:
    - UserKnownHostsFile=/dev/null
    - StrictHostKeyChecking=no
  stage: production
  roles:
    - app
    - db
  deploy_path: /home/bellumindustria/www/bellum-industria.fr
