      <!-- START MOBILE CONTROLS -->
      <!-- LEFT SIDE -->
      <div class="pull-up overlayer d-lg-none d-xl-none">
        <!-- START ACTION BAR -->
        <div class="p-l-10 p-t-15">
          <a href="#" class="btn-link text-master toggle-sidebar d-lg-none pg pg-menu"  data-toggle="sidebar">
          </a>
        </div>
        <!-- END ACTION BAR -->
      </div>
      <!-- RIGHT SIDE -->
      <div class="top-right overlayer d-lg-none d-xl-none">
        <!-- START ACTION BAR -->
        <div class="p-r-15 p-t-15">
          <a href="#" class="header-icon pg pg-alt_menu btn-link m-l-10 sm-no-margin d-inline-block"  data-toggle="quickview" data-toggle-element="#quickview">
          </a>
        </div>
        <!-- END ACTION BAR -->
      </div>
      <!-- END MOBILE CONTROLS -->