{% set TITLE = "- Progress Indicators" %}
{% set ASSETS = "assets" %}
{% set ASSETS_PLUGINS = "assets/plugins" %}
{% set PAGES_CORE = "pages" %}
{% set THEME ="pages" %}
{% set mode = "horizontal_menu" %}
{% set page_title = "invoice" %}
{% set active_parent = "extra" %}
{% extends PATH + "layouts/horizontal_app_layout.html" %}
{% block css_dependencies %}{% endblock %}
  {% block page %}
  {% include PATH + "pages/invoice/invoice.tpl"%}
  {% endblock %}
{% block js_dependencies %}{% endblock %}