.layout__body-wrapper__content-wrapper__inner--page-title {
    padding: 23px 0 25px
}
.layout__body-wrapper__content-wrapper__inner--page-title h1.title {
    font-weight: 300;
    font-size: 33px;
    line-height: 45px;
    padding: 0;
    text-transform: none;
    letter-spacing: 0.2px;
    margin: 0;
}
