/*-----------------------------------------------------------------------------------*/
/*	FORMS
/*-----------------------------------------------------------------------------------*/
.forms {
    position: relative;
    padding: 0;
    width: 100%;
}
.form-container .response {
    display: none;
    margin: 0 0 15px 0;
    background: #d1f7b6;
    border: 1px solid #8bca61;
    color: #5e9537;
    padding: 10px 15px;
}
.forms ol {
    margin: 0;
    padding: 0;
}
.forms ol li {
    line-height: auto;
    list-style: none;
}
.forms li.form-row {
    margin-bottom: 15px
}
.forms li.hidden-row {
    display: none
}
.forms fieldset .text-input,
.forms fieldset .text-area,
.searchform input,
.comment-form input,
.comment-form textarea {
    background-color: #f9f9f9;
    margin: 0;
    border: 1px solid #e7e7e7;
    height: 35px;
    line-height: 1;
    padding: 3px 10px 5px;
    color: #797979;
    resize: none;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.forms fieldset .text-input:focus,
.forms fieldset .text-area:focus,
.searchform input:focus,
.comment-form input:focus,
.comment-form textarea:focus {
    border: 1px solid #d4d4d4
}
.forms fieldset .text-area,
.comment-form textarea {
    min-height: 200px;
    padding: 10px;
    resize: vertical;
}
.searchform input {
    margin-bottom: 20px
}
.forms li.error input,
.forms li.error textarea {
    border: 1px solid #d18282
}
.forms input.btn-submit {
    height: 35px;
    margin-top: -5px;
}
.comment-form input.btn-submit {
    padding-bottom: 5px
}
.forms span.error {
    display: none
}
.forms .button-row span.error {
    padding: 0;
    display: none;
}
.forms label {
    display: block;
    float: left;
    width: 95px;
    padding-top: 7px;
    font-size: 13px;
    clear: both;
}
.forms fieldset .text-input-row,
.comment-form div.name-field,
.comment-form div.email-field,
.comment-form div.website-field {
    position: relative;
    width: 32%;
    float: left;
    margin-right: 2%;
    margin-bottom: 15px;
}
.forms fieldset .text-input-row.subject-field,
.comment-form div.website-field {
    margin-right: 0
}
.comment-form div.message-field {
    margin-bottom: 10px
}
.comment-form div label {
    position: absolute;
    top: 0;
    left: 0;
}
.form-container:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}