/*-----------------------------------------------------------------------------------*/
/*	TWITTER
/*-----------------------------------------------------------------------------------*/
#twitter em {
    font-style: normal;
    font-size: 11px;
}
#twitter em a {
    color: #999
}
#twitter em a:hover {
    color: #88d5c2
}
#twitter ul {
    padding: 0;
    margin-bottom: -20px;
}
#twitter ul li {
    position: relative;
    margin-bottom: 20px;
}
#twitter ul li .twitterStatus,
#twitter ul li .twitterTime {
    margin-left: 20px;
    display: block;
}
#twitter ul li:before {
    font-family: 'fontello-social';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: block;
    text-decoration: inherit;
    content: '\f309';
    font-size: 12px;
    color: #88d5c2;
    position: absolute;
    top: 0;
    left: 0;
}