/*-----------------------------------------------------------------------------------*/
/*	BLOG
/*-----------------------------------------------------------------------------------*/
.content .post {
    clear: both;
    background: transparent url(style/images/line.png) left bottom repeat-x;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.content .post .post-content {
    margin-left: 280px;
    overflow: hidden;
}
.content.full .post .post-content {
    margin-left: 0
}
.content.full .post .frame,
.content.full .post .video {
    overflow: hidden;
    margin-bottom: 25px;
}
.content .post img {
    width: 250px;
}
.content.full .post img {
    width: auto
}