/*-----------------------------------------------------------------------------------*/
/*	RELATED
/*-----------------------------------------------------------------------------------*/
.grid-wrapper {
    overflow: hidden
}
.content .related:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.content .related {
    width: 110%;
    margin-right: -29px;
    overflow: hidden;
    background: transparent url(style/images/line.png) left bottom repeat-x;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.content .related .post {
    width: 224px;
    float: left;
    clear: none;
    background: none;
    padding: 0;
    margin: 0 29px 0 0;
}
.content .related h2 {
    font-size: 14px
}