.layout__body-wrapper__content-wrapper__inner__menu ul li a {
    color: #999
}
.layout__body-wrapper__content-wrapper__inner__menu ul li.active a,
.layout__body-wrapper__content-wrapper__inner__menu ul li a:hover,
.layout__body-wrapper__content-wrapper__inner__menu ul li a.selected {
    color: #dbda7d
}
.layout__body-wrapper__content-wrapper__inner__menu ul li.active ul li a {
    color: #dbda7d
}
.layout__body-wrapper__content-wrapper__inner__menu ul li.active ul li a:hover {
    color: #dbda7d
}
.layout__body-wrapper__content-wrapper__inner__menu ul li ul li {
    border-top: 1px solid #3b3b3b;
    background: #454545;
}
.layout__body-wrapper__content-wrapper__inner__menu ul li ul li a {
    color: #dfdfdf
}
.layout__body-wrapper__content-wrapper__inner__menu ul li ul li a:hover {
    background-color: #dbda7d;
    color: #292929;
}
.selectnav {
    background-image: url($path_images + 'dropdown-arrow.png');
    background-color: #ebebeb;
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .selectnav {
        background-image: url($path_images + 'dropdown-arrow@2x.png')
    }
}