.layout__body-wrapper__content-wrapper__inner__menu ul li a {
    color: #c0c0c0
}
.layout__body-wrapper__content-wrapper__inner__menu ul li.active a,
.layout__body-wrapper__content-wrapper__inner__menu ul li a:hover,
.layout__body-wrapper__content-wrapper__inner__menu ul li a.selected {
    color: #d58888
}
.layout__body-wrapper__content-wrapper__inner__menu ul li.active ul li a {
    color: #d58888
}
.layout__body-wrapper__content-wrapper__inner__menu ul li.active ul li a:hover {
    color: #d58888
}
.layout__body-wrapper__content-wrapper__inner__menu ul li ul li {
    border-top: 1px solid #3b3b3b;
    background: #454545;
}
.layout__body-wrapper__content-wrapper__inner__menu ul li ul li a {
    color: #dfdfdf
}
.layout__body-wrapper__content-wrapper__inner__menu ul li ul li a:hover {
    background-color: #d58888;
    color: #FFF;
}
.selectnav {
    background-image: url($path_images + 'dropdown-arrow.png');
    background-color: #ebebeb;
}