#DIV_1 {
	background-position: 50% 50%;
	color: rgb(51, 51, 51);
	float: left;
	height: 221.453px;
	width: 620.688px;
	column-rule-color: rgb(51, 51, 51);
	perspective-origin: 310.344px 110.719px;
	transform-origin: 310.344px 110.719px;
	background: rgba(0, 0, 0, 0) url("https://csgolounge.com/img/arrow.png") no-repeat scroll 50% 50% / 7% padding-box border-box;
	border: 0px none rgb(51, 51, 51);
	font: normal normal normal normal 16px / 16px arial, sans-serif;
	outline: rgb(51, 51, 51) none 0px;
}/*#DIV_1*/

#FORM_2 {
	box-shadow: rgba(0, 0, 0, 0.298039) 1px 1px 1px 0px;
	color: rgb(51, 51, 51);
	float: left;
	height: 205.453px;
	max-width: 400px;
	width: 279.297px;
	column-rule-color: rgb(51, 51, 51);
	perspective-origin: 139.641px 102.719px;
	transform-origin: 139.641px 102.719px;
	background: rgb(187, 187, 187) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(51, 51, 51);
	border-radius: 5px 5px 5px 5px;
	font: normal normal normal normal 16px / 16px arial, sans-serif;
	margin: 0px 0px 16px;
	outline: rgb(51, 51, 51) none 0px;
}/*#FORM_2*/

#FORM_2:before {
	box-sizing: border-box;
	color: rgb(153, 153, 153);
	content: '"Have:"';
	display: none;
	float: left;
	height: 205.453px;
	width: 279.297px;
	column-rule-color: rgb(153, 153, 153);
	perspective-origin: 139.641px 102.719px;
	transform-origin: 139.641px 102.719px;
	border: 0px none rgb(153, 153, 153);
	font: normal normal bold normal 11.2px / 11.2px arial, sans-serif;
	outline: rgb(153, 153, 153) none 0px;
	padding: 5.6px;
}/*#FORM_2:before*/

#DIV_128 {
	bottom: 0px;
	color: rgb(51, 51, 51);
	float: left;
	height: 60.4844px;
	left: 0px;
	max-width: 103px;
	min-width: 70px;
	position: relative;
	right: 0px;
	top: 0px;
	width: 90.2812px;
	column-rule-color: rgb(51, 51, 51);
	perspective-origin: 45.1406px 30.2344px;
	transform-origin: 45.1406px 30.2344px;
	border: 0px none rgb(51, 51, 51);
	font: normal normal normal normal 16px / 16px arial, sans-serif;
	margin: 4px 1.39062px;
	outline: rgb(51, 51, 51) none 0px;
}/*#DIV_3, #DIV_15, #DIV_27, #DIV_52, #DIV_64, #DIV_77, #DIV_103, #DIV_115, #DIV_128, #DIV_135, #DIV_142*/

#DIV_3:after, #DIV_15:after, #DIV_27:after, #DIV_52:after, #DIV_64:after, #DIV_77:after, #DIV_103:after, #DIV_115:after, #DIV_128:after, #DIV_135:after, #DIV_142:after {
	color: rgb(51, 51, 51);
	content: '""';
	display: block;
	width: 90.2812px;
	column-rule-color: rgb(51, 51, 51);
	perspective-origin: 45.1406px 30.2344px;
	transform-origin: 45.1406px 30.2344px;
	border: 0px none rgb(51, 51, 51);
	font: normal normal normal normal 16px / 16px arial, sans-serif;
	outline: rgb(51, 51, 51) none 0px;
	padding: 60.4844px 0px 0px;
}/*#DIV_3:after, #DIV_15:after, #DIV_27:after, #DIV_52:after, #DIV_64:after, #DIV_77:after, #DIV_103:after, #DIV_115:after, #DIV_128:after, #DIV_135:after, #DIV_142:after*/

#DIV_4, #DIV_16, #DIV_28, #DIV_53, #DIV_65, #DIV_78, #DIV_104, #DIV_116, #DIV_129, #DIV_136, #DIV_143 {
	color: rgb(68, 68, 68);
	display: none;
	height: auto;
	max-width: 280px;
	min-width: 180px;
	position: absolute;
	text-align: left;
	text-overflow: ellipsis;
	top: 100%;
	white-space: nowrap;
	width: auto;
	z-index: 2;
	column-rule-color: rgb(68, 68, 68);
	perspective-origin: 50% 50%;
	transform-origin: 50% 50%;
	background: rgb(221, 221, 221) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 1px solid rgb(170, 170, 170);
	border-radius: 3px 3px 3px 3px;
	font: normal normal normal normal 12.8px / 17.28px arial, sans-serif;
	outline: rgb(68, 68, 68) none 0px;
	overflow: hidden;
	padding: 6.4px;
}/*#DIV_4, #DIV_16, #DIV_28, #DIV_53, #DIV_65, #DIV_78, #DIV_104, #DIV_116, #DIV_129, #DIV_136, #DIV_143*/

#B_5, #B_17, #B_29, #B_54, #B_66, #B_79, #B_105, #B_117, #B_130, #B_137, #B_144 {
	color: rgb(68, 68, 68);
	text-align: left;
	white-space: nowrap;
	column-rule-color: rgb(68, 68, 68);
	perspective-origin: 50% 50%;
	transform-origin: 50% 50%;
	border: 0px none rgb(68, 68, 68);
	font: normal normal bold normal 12.8px / 17.28px arial, sans-serif;
	outline: rgb(68, 68, 68) none 0px;
}/*#B_5, #B_17, #B_29, #B_54, #B_66, #B_79, #B_105, #B_117, #B_130, #B_137, #B_144*/

#BR_6, #I_7, #BR_18, #BR_20, #BR_30, #BR_32, #BR_36, #BR_38, #SMALL_40, #BR_42, #BR_47, #BR_55, #BR_57, #BR_67, #BR_69, #BR_80, #BR_82, #BR_86, #BR_88, #SMALL_90, #BR_92, #BR_97, #BR_106, #BR_108, #BR_118, #BR_120, #BR_131, #BR_138, #BR_145 {
	color: rgb(68, 68, 68);
	text-align: left;
	white-space: nowrap;
	column-rule-color: rgb(68, 68, 68);
	perspective-origin: 50% 50%;
	transform-origin: 50% 50%;
	border: 0px none rgb(68, 68, 68);
	font: normal normal normal normal 12.8px / 17.28px arial, sans-serif;
	outline: rgb(68, 68, 68) none 0px;
}/*#BR_6, #I_7, #BR_18, #BR_20, #BR_30, #BR_32, #BR_36, #BR_38, #SMALL_40, #BR_42, #BR_47, #BR_55, #BR_57, #BR_67, #BR_69, #BR_80, #BR_82, #BR_86, #BR_88, #SMALL_90, #BR_92, #BR_97, #BR_106, #BR_108, #BR_118, #BR_120, #BR_131, #BR_138, #BR_145*/

#BR_8, #I_19, #I_31, #BR_39, #I_56, #I_68, #I_81, #BR_89, #I_107, #I_119 {
	color: rgb(68, 68, 68);
	text-align: left;
	white-space: nowrap;
	column-rule-color: rgb(68, 68, 68);
	perspective-origin: 50% 50%;
	transform-origin: 50% 50%;
	border: 0px none rgb(68, 68, 68);
	font: normal normal normal normal 12.8px / 17.28px arial, sans-serif;
	outline: rgb(68, 68, 68) none 0px;
}/*#BR_8, #I_19, #I_31, #BR_39, #I_56, #I_68, #I_81, #BR_89, #I_107, #I_119*/

#A_9, #A_10, #A_21, #A_23, #A_33, #A_35, #A_41, #A_44, #A_58, #A_60, #A_70, #A_72, #A_83, #A_85, #A_91, #A_94, #A_109, #A_111, #A_121, #A_123 {
	color: rgb(51, 51, 51);
	cursor: pointer;
	text-align: left;
	text-decoration: none;
	text-shadow: rgb(170, 170, 170) -1px 1px 0px;
	white-space: nowrap;
	column-rule-color: rgb(51, 51, 51);
	perspective-origin: 50% 50%;
	transform-origin: 50% 50%;
	border: 0px none rgb(51, 51, 51);
	font: normal normal bold normal 12.8px / 17.28px arial, sans-serif;
	outline: rgb(51, 51, 51) none 0px;
}/*#A_9, #A_10, #A_21, #A_23, #A_33, #A_35, #A_41, #A_44, #A_58, #A_60, #A_70, #A_72, #A_83, #A_85, #A_91, #A_94, #A_109, #A_111, #A_121, #A_123*/

#A_11, #A_22, #A_34, #A_59, #A_71, #A_84, #A_110, #A_122 {
	color: rgb(51, 51, 51);
	cursor: pointer;
	text-align: left;
	text-decoration: none;
	text-shadow: rgb(170, 170, 170) -1px 1px 0px;
	white-space: nowrap;
	column-rule-color: rgb(51, 51, 51);
	perspective-origin: 50% 50%;
	transform-origin: 50% 50%;
	border: 0px none rgb(51, 51, 51);
	font: normal normal bold normal 12.8px / 17.28px arial, sans-serif;
	outline: rgb(51, 51, 51) none 0px;
}/*#A_11, #A_22, #A_34, #A_59, #A_71, #A_84, #A_110, #A_122*/

#DIV_12, #DIV_24, #DIV_61, #DIV_112, #DIV_124, #DIV_132, #DIV_139, #DIV_146 {
	bottom: 0px;
	color: rgb(223, 223, 223);
	cursor: pointer;
	height: 60.4844px;
	left: 0px;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 0px;
	width: 90.2812px;
	column-rule-color: rgb(223, 223, 223);
	perspective-origin: 45.1406px 30.2344px;
	transform-origin: 45.1406px 30.2344px;
	background: rgb(203, 203, 203) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(223, 223, 223);
	border-radius: 3px 3px 3px 3px;
	font: normal normal normal normal 16px / 16px arial, sans-serif;
	outline: rgb(223, 223, 223) none 0px;
}/*#DIV_12, #DIV_24, #DIV_61, #DIV_112, #DIV_124, #DIV_132, #DIV_139, #DIV_146*/

#IMG_13, #IMG_25, #IMG_49, #IMG_62, #IMG_75, #IMG_100, #IMG_113, #IMG_125, #IMG_133, #IMG_140, #IMG_147 {
	color: rgb(223, 223, 223);
	cursor: pointer;
	height: 57.7656px;
	max-width: 99px;
	text-align: center;
	width: 86.6562px;
	column-rule-color: rgb(223, 223, 223);
	perspective-origin: 43.3281px 28.875px;
	transform-origin: 43.3281px 28.875px;
	border: 0px none rgb(223, 223, 223);
	font: normal normal normal normal 16px / 16px arial, sans-serif;
	margin: 2px 1.79688px;
	outline: rgb(223, 223, 223) none 0px;
}/*#IMG_13, #IMG_25, #IMG_49, #IMG_62, #IMG_75, #IMG_100, #IMG_113, #IMG_125, #IMG_133, #IMG_140, #IMG_147*/

#DIV_14, #DIV_114 {
	bottom: 0px;
	box-shadow: rgb(211, 44, 230) 0px 2px 0px 0px;
	color: rgb(85, 85, 85);
	cursor: pointer;
	height: 16px;
	left: 0px;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 44.4844px;
	white-space: nowrap;
	width: 90.2812px;
	column-rule-color: rgb(85, 85, 85);
	perspective-origin: 45.1406px 8px;
	transform-origin: 45.1406px 8px;
	background: rgba(200, 200, 200, 0.8) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(85, 85, 85);
	border-radius: 3px 3px 3px 3px;
	font: normal normal normal normal 10.4px / 16px arial, sans-serif;
	outline: rgb(85, 85, 85) none 0px;
	overflow: hidden;
}/*#DIV_14, #DIV_114*/

#DIV_26, #DIV_63, #DIV_76 {
	bottom: 0px;
	box-shadow: rgb(235, 75, 75) 0px 2px 0px 0px;
	color: rgb(85, 85, 85);
	cursor: pointer;
	height: 16px;
	left: 0px;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 44.4844px;
	white-space: nowrap;
	width: 90.2812px;
	column-rule-color: rgb(85, 85, 85);
	perspective-origin: 45.1406px 8px;
	transform-origin: 45.1406px 8px;
	background: rgba(200, 200, 200, 0.8) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(85, 85, 85);
	border-radius: 3px 3px 3px 3px;
	font: normal normal normal normal 10.4px / 16px arial, sans-serif;
	outline: rgb(85, 85, 85) none 0px;
	overflow: hidden;
}/*#DIV_26, #DIV_63, #DIV_76*/

#A_37, #A_87 {
	color: rgb(51, 51, 51);
	cursor: pointer;
	text-align: left;
	text-decoration: none;
	text-shadow: rgb(170, 170, 170) -1px 1px 0px;
	white-space: nowrap;
	column-rule-color: rgb(51, 51, 51);
	perspective-origin: 50% 50%;
	transform-origin: 50% 50%;
	border: 0px none rgb(51, 51, 51);
	font: normal normal bold normal 12.8px / 17.28px arial, sans-serif;
	outline: rgb(51, 51, 51) none 0px;
}/*#A_37, #A_87*/

#P_43, #P_93 {
	color: rgb(68, 68, 68);
	height: auto;
	text-align: left;
	white-space: nowrap;
	width: auto;
	column-rule-color: rgb(68, 68, 68);
	perspective-origin: 50% 50%;
	transform-origin: 50% 50%;
	border: 0px none rgb(68, 68, 68);
	font: normal normal normal normal 12.8px / 17.28px arial, sans-serif;
	margin: 0px;
	outline: rgb(68, 68, 68) none 0px;
}/*#P_43, #P_93*/

#SMALL_45, #SMALL_95 {
	color: rgb(68, 68, 68);
	cursor: help;
	text-align: left;
	white-space: nowrap;
	column-rule-color: rgb(68, 68, 68);
	perspective-origin: 50% 50%;
	transform-origin: 50% 50%;
	border: 0px none rgb(68, 68, 68);
	font: normal normal normal normal 10px / 17.28px arial, sans-serif;
	outline: rgb(68, 68, 68) none 0px;
}/*#SMALL_45, #SMALL_95*/

#P_46, #P_96 {
	color: rgb(68, 68, 68);
	display: none;
	height: auto;
	text-align: left;
	white-space: nowrap;
	width: auto;
	column-rule-color: rgb(68, 68, 68);
	perspective-origin: 50% 50%;
	transform-origin: 50% 50%;
	border: 0px none rgb(68, 68, 68);
	font: normal normal normal normal 12.8px / 17.28px arial, sans-serif;
	margin: 0px;
	outline: rgb(68, 68, 68) none 0px;
}/*#P_46, #P_96*/

#DIV_48, #DIV_73 {
	bottom: 0px;
	box-shadow: rgb(134, 80, 172) 0px 0px 1px 2px;
	color: rgb(223, 223, 223);
	cursor: pointer;
	height: 60.4844px;
	left: 0px;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 0px;
	width: 90.2812px;
	column-rule-color: rgb(223, 223, 223);
	perspective-origin: 45.1406px 30.2344px;
	transform-origin: 45.1406px 30.2344px;
	background: rgb(203, 203, 203) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(223, 223, 223);
	border-radius: 3px 3px 3px 3px;
	font: normal normal normal normal 16px / 16px arial, sans-serif;
	outline: rgb(223, 223, 223) none 0px;
}/*#DIV_48, #DIV_73*/

#DIV_50 {
	bottom: 0px;
	box-shadow: rgb(235, 75, 75) 0px 2px 0px 0px;
	color: rgb(85, 85, 85);
	cursor: pointer;
	height: 16px;
	left: 0px;
	position: absolute;
	right: 0px;
	text-align: center;
	text-shadow: rgb(255, 255, 255) 0px 0px 1px;
	top: 44.4844px;
	white-space: nowrap;
	width: 90.2812px;
	column-rule-color: rgb(85, 85, 85);
	perspective-origin: 45.1406px 8px;
	transform-origin: 45.1406px 8px;
	background: rgba(255, 255, 255, 0.701961) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(85, 85, 85);
	border-radius: 3px 3px 3px 3px;
	font: normal normal normal normal 10.4px / 16px arial, sans-serif;
	outline: rgb(85, 85, 85) none 0px;
	overflow: hidden;
}/*#DIV_50*/

#SPAN_51, #SPAN_102 {
	color: rgb(85, 85, 85);
	cursor: pointer;
	text-align: center;
	text-shadow: rgb(255, 255, 255) 0px 0px 1px;
	white-space: nowrap;
	column-rule-color: rgb(85, 85, 85);
	border: 0px none rgb(85, 85, 85);
	font: normal normal normal normal 10.4px / 16px arial, sans-serif;
	outline: rgb(85, 85, 85) none 0px;
}/*#SPAN_51, #SPAN_102*/

#DIV_74, #DIV_99 {
	bottom: 42.4844px;
	color: rgb(238, 238, 238);
	cursor: pointer;
	height: 16px;
	left: 0px;
	position: absolute;
	right: 74px;
	text-align: center;
	text-shadow: rgb(0, 0, 0) 1px 1px 1px;
	top: 0px;
	width: 12.2812px;
	column-rule-color: rgb(238, 238, 238);
	perspective-origin: 8.14062px 9px;
	transform-origin: 8.14062px 9px;
	background: rgb(207, 106, 50) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(238, 238, 238);
	border-radius: 0 0 6px 0;
	font: normal normal normal normal 9.6px / 16px arial, sans-serif;
	outline: rgb(238, 238, 238) none 0px;
	padding: 1px 2px;
}/*#DIV_74, #DIV_99*/

#DIV_98 {
	bottom: 0px;
	box-shadow: rgb(207, 106, 50) 0px 0px 1px 2px;
	color: rgb(223, 223, 223);
	cursor: pointer;
	height: 60.4844px;
	left: 0px;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 0px;
	width: 90.2812px;
	column-rule-color: rgb(223, 223, 223);
	perspective-origin: 45.1406px 30.2344px;
	transform-origin: 45.1406px 30.2344px;
	background: rgb(203, 203, 203) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(223, 223, 223);
	border-radius: 3px 3px 3px 3px;
	font: normal normal normal normal 16px / 16px arial, sans-serif;
	outline: rgb(223, 223, 223) none 0px;
}/*#DIV_98*/

#DIV_101 {
	bottom: 0px;
	box-shadow: rgb(211, 44, 230) 0px 2px 0px 0px;
	color: rgb(85, 85, 85);
	cursor: pointer;
	height: 16px;
	left: 0px;
	position: absolute;
	right: 0px;
	text-align: center;
	text-shadow: rgb(255, 255, 255) 0px 0px 1px;
	top: 44.4844px;
	white-space: nowrap;
	width: 90.2812px;
	column-rule-color: rgb(85, 85, 85);
	perspective-origin: 45.1406px 8px;
	transform-origin: 45.1406px 8px;
	background: rgba(255, 255, 255, 0.701961) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(85, 85, 85);
	border-radius: 3px 3px 3px 3px;
	font: normal normal normal normal 10.4px / 16px arial, sans-serif;
	outline: rgb(85, 85, 85) none 0px;
	overflow: hidden;
}/*#DIV_101*/

#DIV_126 {
	bottom: 0px;
	box-shadow: rgb(211, 44, 230) 0px 2px 0px 0px;
	color: rgb(85, 85, 85);
	cursor: pointer;
	height: 16px;
	left: 0px;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 44.4844px;
	white-space: nowrap;
	width: 90.2812px;
	column-rule-color: rgb(85, 85, 85);
	perspective-origin: 45.1406px 8px;
	transform-origin: 45.1406px 8px;
	background: rgba(200, 200, 200, 0.8) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(85, 85, 85);
	border-radius: 3px 3px 3px 3px;
	font: normal normal normal normal 10.4px / 16px arial, sans-serif;
	outline: rgb(85, 85, 85) none 0px;
	overflow: hidden;
}/*#DIV_126*/

#FORM_127 {
	box-shadow: rgba(0, 0, 0, 0.298039) 1px 1px 1px 0px;
	color: rgb(51, 51, 51);
	float: right;
	height: 68.4844px;
	max-width: 400px;
	width: 279.297px;
	column-rule-color: rgb(51, 51, 51);
	perspective-origin: 139.641px 34.2344px;
	transform-origin: 139.641px 34.2344px;
	background: rgb(187, 187, 187) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(51, 51, 51);
	border-radius: 5px 5px 5px 5px;
	font: normal normal normal normal 16px / 16px arial, sans-serif;
	margin: 0px 0px 16px;
	outline: rgb(51, 51, 51) none 0px;
}/*#FORM_127*/

#FORM_127:before {
	box-sizing: border-box;
	color: rgb(153, 153, 153);
	content: '"Want:"';
	display: none;
	float: left;
	height: 68.4844px;
	width: 279.297px;
	column-rule-color: rgb(153, 153, 153);
	perspective-origin: 139.641px 34.2344px;
	transform-origin: 139.641px 34.2344px;
	border: 0px none rgb(153, 153, 153);
	font: normal normal bold normal 11.2px / 11.2px arial, sans-serif;
	outline: rgb(153, 153, 153) none 0px;
	padding: 5.6px;
}/*#FORM_127:before*/

#DIV_134, #DIV_141 {
	bottom: 0px;
	color: rgb(85, 85, 85);
	cursor: pointer;
	height: 16px;
	left: 0px;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 44.4844px;
	white-space: nowrap;
	width: 90.2812px;
	column-rule-color: rgb(85, 85, 85);
	perspective-origin: 45.1406px 8px;
	transform-origin: 45.1406px 8px;
	border: 0px none rgb(85, 85, 85);
	border-radius: 3px 3px 3px 3px;
	font: normal normal normal normal 10.4px / 16px arial, sans-serif;
	outline: rgb(85, 85, 85) none 0px;
	overflow: hidden;
}/*#DIV_134, #DIV_141*/

#DIV_148 {
	bottom: 0px;
	color: rgb(85, 85, 85);
	cursor: pointer;
	height: 16px;
	left: 0px;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 44.4844px;
	white-space: nowrap;
	width: 90.2812px;
	column-rule-color: rgb(85, 85, 85);
	perspective-origin: 45.1406px 8px;
	transform-origin: 45.1406px 8px;
	border: 0px none rgb(85, 85, 85);
	border-radius: 3px 3px 3px 3px;
	font: normal normal normal normal 10.4px / 16px arial, sans-serif;
	outline: rgb(85, 85, 85) none 0px;
	overflow: hidden;
}/*#DIV_148*/
