/*-----------------------------------------------------------------------------------*/
/*	PORTFOLIO POST
/*-----------------------------------------------------------------------------------*/
.portfolio-content.two-col .image {
    width: 730px
}
.portfolio-content.two-col .details {
    width: 260px
}
.portfolio-content .item {
    margin-bottom: 80px;
    clear: both;
    display: block;
    overflow: hidden;
}
.portfolio-content .item:last-child {
    margin: 0px
}
.portfolio-content .details ul li strong {
    margin-right: 3px
}