.layout__body-wrapper__content-wrapper__inner__widget-footer {}
.layout__body-wrapper__content-wrapper__inner__widget-footer h3 {
    margin-bottom: 15px;
    font-size: 16px;
}
.layout__body-wrapper__content-wrapper__inner__widget-footer h3.colored:after {
    padding-left: 15px
}
i.layout__body-wrapper__content-wrapper__inner__widget-footer__contact {
    margin-right: 8px;
    color: #88d5c2;
}
.layout__body-wrapper__content-wrapper__inner__widget-footer__tagcloud {
    line-height: 28px
}
