.layout__body-wrapper__content-wrapper__inner__widget-share {

}
.layout__body-wrapper__content-wrapper__inner__widget-share {
    margin-top: -5px;
    margin-bottom: -4px;
}
.layout__body-wrapper__content-wrapper__inner__widget-share li {
    display: inline;
    margin-left: 1px;
}
.layout__body-wrapper__content-wrapper__inner__widget-share li a {
    width: 80px;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;
    color: #FFF;
    margin-bottom: 4px;
}
.layout__body-wrapper__content-wrapper__inner__widget-share li a.like {
    background-color: #65779e
}
.layout__body-wrapper__content-wrapper__inner__widget-share li a.tweet {
    background-color: #7fc0e1
}
.layout__body-wrapper__content-wrapper__inner__widget-share li a.google {
    background-color: #626262
}
.layout__body-wrapper__content-wrapper__inner__widget-share li a.pinterest {
    background-color: #e6e5e5;
    color: #c65044;
}