.layout__body-wrapper__content-wrapper__inner__widget-posts {
    overflow: hidden
}
.grid .layout__body-wrapper__content-wrapper__inner__widget-posts__post {
    float: left;
    width: 495px;
    margin-right: 50px;
    margin-bottom: 40px;
    padding: 1px;
}
.grid .layout__body-wrapper__content-wrapper__inner__widget-posts__post .post-content {
    margin-left: 172px
}
.layout__body-wrapper__content-wrapper__inner__widget-posts__post .frame {
    background: #FFF;
    padding: 4px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
}
.layout__body-wrapper__content-wrapper__inner__widget-posts__post h5 {
    margin: 0
}
.layout__body-wrapper__content-wrapper__inner__widget-posts__post h5 a,
.layout__body-wrapper__content-wrapper__inner__widget-posts__post h2 a {
    color: #707070
}
.layout__body-wrapper__content-wrapper__inner__widget-posts__post h5 a:hover,
.layout__body-wrapper__content-wrapper__inner__widget-posts__post h2 a:hover {
    color: #88d5c2
}
.layout__body-wrapper__content-wrapper__inner__widget-posts__post .frame img {
    display: block
}
.grid .layout__body-wrapper__content-wrapper__inner__widget-posts__post .post-content p {
    padding-bottom: 10px
}
.layout__body-wrapper__content-wrapper__inner__widget-posts__post .post-content .meta,
.layout__body-wrapper__content-wrapper__inner__widget-posts__post .post-content .meta a {
    font-size: 12px;
    color: #a6a6a6;
}
.layout__body-wrapper__content-wrapper__inner__widget-posts__post .post-content .meta a:hover {
    color: #88d5c2
}
.layout__body-wrapper__content-wrapper__inner__widget-posts__post .post-content .meta {
    margin-bottom: 10px
}
.layout__body-wrapper__content-wrapper__inner__widget-posts__post .post-content .meta .sep {
    margin: 0 3px
}
