#DIV_1 {
	background-position: 50% 50%;
	color: rgb(51, 51, 51);
	float: left;
	height: 221.453px;
	width: 620.688px;
	column-rule-color: rgb(51, 51, 51);
	perspective-origin: 310.344px 110.719px;
	transform-origin: 310.344px 110.719px;
	background: rgba(0, 0, 0, 0) url("https://csgolounge.com/img/arrow.png") no-repeat scroll 50% 50% / 7% padding-box border-box;
	border: 0px none rgb(51, 51, 51);
	font: normal normal normal normal 16px / 16px arial, sans-serif;
	outline: rgb(51, 51, 51) none 0px;
}
#FORM_2 {
	float: left;
	height: 205.453px;
	max-width: 400px;
	width: 279.297px;
}
#FORM_127 {
	float: right;
	height: 68.4844px;
	max-width: 400px;
	width: 279.297px;
}
#DIV_128 {
	bottom: 0px;
	color: rgb(51, 51, 51);
	float: left;
	height: 60.4844px;
	left: 0px;
	max-width: 103px;
	min-width: 70px;
	position: relative;
	right: 0px;
	top: 0px;
	width: 90.2812px;
	column-rule-color: rgb(51, 51, 51);
	perspective-origin: 45.1406px 30.2344px;
	transform-origin: 45.1406px 30.2344px;
	border: 0px none rgb(51, 51, 51);
	font: normal normal normal normal 16px / 16px arial, sans-serif;
	margin: 4px 1.39062px;
	outline: rgb(51, 51, 51) none 0px;
}
#DIV_129 {
	color: rgb(68, 68, 68);
	display: none;
	height: auto;
	max-width: 280px;
	min-width: 180px;
	position: absolute;
	text-align: left;
	text-overflow: ellipsis;
	top: 100%;
	white-space: nowrap;
	width: auto;
	z-index: 2;
	column-rule-color: rgb(68, 68, 68);
	perspective-origin: 50% 50%;
	transform-origin: 50% 50%;
	background: rgb(221, 221, 221) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 1px solid rgb(170, 170, 170);
	border-radius: 3px 3px 3px 3px;
	font: normal normal normal normal 12.8px / 17.28px arial, sans-serif;
	outline: rgb(68, 68, 68) none 0px;
	overflow: hidden;
	padding: 6.4px;
}
#DIV_132 {
	bottom: 0px;
	color: rgb(223, 223, 223);
	cursor: pointer;
	height: 60.4844px;
	left: 0px;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 0px;
	width: 90.2812px;
	column-rule-color: rgb(223, 223, 223);
	perspective-origin: 45.1406px 30.2344px;
	transform-origin: 45.1406px 30.2344px;
	background: rgb(203, 203, 203) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(223, 223, 223);
	border-radius: 3px 3px 3px 3px;
	font: normal normal normal normal 16px / 16px arial, sans-serif;
	outline: rgb(223, 223, 223) none 0px;
}
#IMG_133 {
	color: rgb(223, 223, 223);
	cursor: pointer;
	height: 57.7656px;
	max-width: 99px;
	text-align: center;
	width: 86.6562px;
	column-rule-color: rgb(223, 223, 223);
	perspective-origin: 43.3281px 28.875px;
	transform-origin: 43.3281px 28.875px;
	border: 0px none rgb(223, 223, 223);
	font: normal normal normal normal 16px / 16px arial, sans-serif;
	margin: 2px 1.79688px;
	outline: rgb(223, 223, 223) none 0px;
}
#DIV_134 {
	bottom: 0px;
	color: rgb(85, 85, 85);
	cursor: pointer;
	height: 16px;
	left: 0px;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 44.4844px;
	white-space: nowrap;
	width: 90.2812px;
	column-rule-color: rgb(85, 85, 85);
	perspective-origin: 45.1406px 8px;
	transform-origin: 45.1406px 8px;
	border: 0px none rgb(85, 85, 85);
	border-radius: 3px 3px 3px 3px;
	font: normal normal normal normal 10.4px / 16px arial, sans-serif;
	outline: rgb(85, 85, 85) none 0px;
	overflow: hidden;
}
