{% set TITLE = "- Blank Page" %}
{% set ASSETS = "assets" %}
{% set ASSETS_PLUGINS = "assets/plugins" %}
{% set BODY_CLASS ="menu-pin menu-behind" %}
{% set PAGES_CORE = "pages" %}
{% set THEME ="themes/corporate" %}
{% set BODY_CLASS = "horizontal-menu" %}
{% set active_parent = "sidemenu_and_horizontal_menu" %}
{% extends PATH + "layouts/default_layout.html" %}
{% block css_dependencies %}{% endblock %}
  {% block page %}
  {% include PATH + "pages/layouts/sidemenu_and_horizontal_menu.tpl"%}
  {% endblock %}
{% block js_dependencies %}{% endblock %}