.layout__body-wrapper__content-wrapper__inner__widget-portfolio {
    overflow: hidden;
    margin-bottom: 5px;
}
.layout__body-wrapper__content-wrapper__inner__widget-portfolio__items {
    width: 110%;
    clear: both;
}
.layout__body-wrapper__content-wrapper__inner__widget-portfolio__items li {
    float: left;
    position: relative;
    background: none;
    padding: 0;
}
.layout__body-wrapper__content-wrapper__inner__widget-portfolio__items.col4 {
    margin-right: -4px
}
.layout__body-wrapper__content-wrapper__inner__widget-portfolio__items.col4 li {
    margin: 0 4px 4px 0;
    width: 257px;
}
.layout__body-wrapper__content-wrapper__inner__widget-portfolio__items li img {
    display: block
}
.layout__body-wrapper__content-wrapper__inner__widget-portfolio__items:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.layout__body-wrapper__content-wrapper__inner__widget-portfolio__items li a,
.layout__body-wrapper__content-wrapper__inner__widget-portfolio__items li a img {
    display: block;
    position: relative;
}
.layout__body-wrapper__content-wrapper__inner__widget-portfolio__items li a {
    overflow: hidden
}
.layout__body-wrapper__content-wrapper__inner__widget-portfolio__items li a div {
    position: absolute;
    background: rgba(0,0,0,0.8) url($path_images + 'image-hover.png') repeat;
    width: 100%;
    height: 100%;
}
.layout__body-wrapper__content-wrapper__inner__widget-portfolio__items li a div h5 {
    display: block;
    padding: 10px 0;
    margin: 63px 20px 20px 20px;
    text-transform: uppercase;
    font-weight: normal;
    color: #e9e9e9;
    font-weight: 400;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.75);
}
.layout__body-wrapper__content-wrapper__inner__widget-portfolio__items li a div h5 span {
    font-size: 12px;
    display: block;
    color: #ababab;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0.2px;
    margin-top: 5px;
}
.layout__body-wrapper__content-wrapper__inner__widget-portfolio {
    padding-top: 4px
}
.layout__body-wrapper__content-wrapper__inner__widget-portfolio__filter {
    padding: 0;
    margin-bottom: 30px;
    margin-top: -4px;
}
.layout__body-wrapper__content-wrapper__inner__widget-portfolio__filter li {
    margin: 0;
    background: none;
    display: inline;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    color: #616161;
    margin-left: 4px;
}
.layout__body-wrapper__content-wrapper__inner__widget-portfolio__filter li a:hover,
.layout__body-wrapper__content-wrapper__inner__widget-portfolio__filter li a.active {
    background-color: #88d5c2;
    color: #FFF;
}
.layout__body-wrapper__content-wrapper__inner__widget-portfolio__filter li a {
    color: #616161;
    display: inline-block;
    background-color: #ebebeb;
    padding: 6px 20px 5px;
    margin-bottom: 4px;
}
/* FIREFOX FIX */
@-moz-document url-prefix() {
    .layout__body-wrapper__content-wrapper__inner__widget-portfolio__filter li a {
        padding: 5px 20px 6px
    }
}
.isotope-item {
    z-index: 2;
    display: block !important;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

.layout__body-wrapper__content-wrapper__inner__widget-portfolio__items li a div {
    background: rgba(0,0,0,0.85) url($path_images + 'image-hover.png') repeat
}
.layout__body-wrapper__content-wrapper__inner__widget-portfolio__items li a div h5 {
    color: #e9e9e9;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.75);
}
.layout__body-wrapper__content-wrapper__inner__widget-portfolio__items li a div h5 span {
    color: #ababab
}

.portfolio-content .details ul li strong {
    color: #bebebe
}

/*-----------------------------------------------------------------------------------*/
/*	MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/

/* iPad Landscape */
$dimension_ipad_min-width: 768px !default;
$dimension_ipad_max-width: 1200px !default;

/* Tablet Portrait size to standard 960 (devices and browsers) */
$dimension_portrait_min-width: 768px !default;
$dimension_portrait_max-width: 959px !default;

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
$dimension_mobile_min-width: 480px !default;
$dimension_mobile_max-width: 767px !default;

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
$dimension_portrait_mobile_max-width: 479px !default;

/* iPad Landscape */
@media only screen and (min-width: $dimension_ipad_min-width) and (max-width: $dimension_ipad_max-width) {
    .layout__body-wrapper__content-wrapper__inner__widget-portfolio__items.col4 li {
        width: 237px;
    }
    .layout__body-wrapper__content-wrapper__inner__widget-portfolio__items li a div h5 {
        margin-top: 57px;
    }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: $dimension_portrait_min-width) and (max-width: $dimension_portrait_max-width) {
    .layout__body-wrapper__content-wrapper__inner__widget-portfolio__items.col4 li {
        margin: 0 3px 3px 0;
        width: 238px;
    }
    .layout__body-wrapper__content-wrapper__inner__widget-portfolio__items li a div h5 {
        margin-top: 62px;
    }
    .layout__body-wrapper__content-wrapper__inner__widget-portfolio__items.col4.latest li {
        margin: 0 4px 4px 0;
        width: 177px;
    }
    .layout__body-wrapper__content-wrapper__inner__widget-portfolio .colored.alignleft {
        float: none;
        margin-bottom: 30px;
    }
    .layout__body-wrapper__content-wrapper__inner__widget-portfolio .layout__body-wrapper__content-wrapper__inner__widget-portfolio__filter.alignright {
        float: none;
    }
} /* END Smaller than standard 960 (devices and browsers) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: $dimension_mobile_min-width) and (max-width: $dimension_mobile_max-width) {

    .layout__body-wrapper__content-wrapper__inner__widget-portfolio__items.col4 li {
        width: 218px;
    }
    .layout__body-wrapper__content-wrapper__inner__widget-portfolio__items li a div h5 {
        margin-top: 48px;
    }
    .layout__body-wrapper__content-wrapper__inner__widget-portfolio .colored.alignleft {
        float: none;
        margin-bottom: 30px;
    }
    .layout__body-wrapper__content-wrapper__inner__widget-portfolio .layout__body-wrapper__content-wrapper__inner__widget-portfolio__filter.alignright {
        float: none;
    }
} /* END Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: $dimension_portrait_mobile_max-width) {
    .layout__body-wrapper__content-wrapper__inner__widget-portfolio__items.col4 li {
        width: 138px;
    }
    .layout__body-wrapper__content-wrapper__inner__widget-portfolio__items li a div h5 {
        margin-top: 34px;
        font-size: 10px;
        line-height: 18px;
    }
    .layout__body-wrapper__content-wrapper__inner__widget-portfolio__items li a div h5 span {
        display: none;
    }
    .layout__body-wrapper__content-wrapper__inner__widget-portfolio .colored.alignleft {
        float: none;
        margin-bottom: 30px;
    }
    .layout__body-wrapper__content-wrapper__inner__widget-portfolio .layout__body-wrapper__content-wrapper__inner__widget-portfolio__filter.alignright {
        float: none;
    }
    .layout__body-wrapper__content-wrapper__inner__widget-portfolio__filter li a {
        padding: 6px 17px 5px;
    }
} /* END Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
