{% set TITLE = "- Blank Page" %}
{% set ASSETS = "assets" %}
{% set ASSETS_PLUGINS = "assets/plugins" %}
{% set PAGES_CORE = "pages" %} {% set THEME = "themes/modern" %}
{% set mode = "horizontal_menu" %} {% set breadcrumb = "breadcrumb-alt" %}

{% set active_parent = "layouts" %}
{% extends PATH + "layouts/horizontal_condensed_layout.html" %}
{% block css_dependencies %}{% endblock %}
	{% block page %}
	{% include PATH + "pages/blank/blank.tpl"%}
	{% endblock %}
{% block js_dependencies %}{% endblock %}