{% set TITLE = "- Typography" %}
{% set ASSETS = "assets" %}
{% set ASSETS_PLUGINS = "assets/plugins" %}
{% set PAGES_CORE = "pages" %} {% set THEME = "themes/modern" %}
{% set mode = "horizontal_menu" %} {% set breadcrumb = "breadcrumb-alt" %}
{% set page_title = "typography" %}
{% set active_parent = "ui" %}
{% extends PATH + "layouts/horizontal_condensed_layout.html" %}
{% block css_dependencies %}{% endblock %}
	{% block page %}
	{% include PATH + "pages/ui/typo/typo.tpl"%}
	{% endblock %}
{% block js_dependencies %}{% endblock %}