i.special {
    font-size: 41px;
    padding-top: 28px;
    width: 100px;
    height: 100px;
    display: inline-block;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    line-height: 1;
    letter-spacing: normal;
    margin-bottom: 20px;
}
i.special {
    @extend i.special;

    background-color: #88d5c2;
    color: #FFF;
}
i.special.blue {
    @extend i.special;

    background-color: #86b7d1
}
i.special.red {
    @extend i.special;

    background-color: #cd5465
}
i.special.green {
    @extend i.special;

    background-color: #88d5c2
}
i.special.purple {
    @extend i.special;

    background-color: #a188d5
}
i.special.orange {
    @extend i.special;

    background-color: #f4a85e
}