.layout__body-wrapper__content-wrapper--even-evil {
    color: #fff;
    background: #3c0000;
    border-top: 1px solid #fe0000;
    border-bottom: 1px solid #fe0000;
}
.layout__body-wrapper__content-wrapper--even-evil .colored,
.layout__body-wrapper__content-wrapper--even-evil h1,
.layout__body-wrapper__content-wrapper--even-evil h2,
.layout__body-wrapper__content-wrapper--even-evil h3,
.layout__body-wrapper__content-wrapper--even-evil h4,
.layout__body-wrapper__content-wrapper--even-evil h5 {
    color: #fff;
}
.layout__body-wrapper__content-wrapper--even-evil i.special {
    @extend i.special;

    background-color: #fff;
    color: #000;
}
.layout__body-wrapper__content-wrapper--even-evil a.button {
    @extend a.button;

    color: #000;
    background-color: #fff;
}
.layout__body-wrapper__content-wrapper--even-evil a.button:hover {
    @extend a.button:hover;

    color: #fff;
    background-color: #fe0000;
}
/*-----------------------------------------------------------------------------------*/
/*	MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/

/* iPad Landscape */
$dimension_ipad_max-width: 1200px !default;

/* iPad Landscape */
@media only screen and (min-width: $dimension_ipad_max-width) {
    .layout__body-wrapper__content-wrapper--even-evil {
        background-image: url($path_images + 'logo-evil-light.png');
        background-repeat: no-repeat;
        background-attachment: inherit;
        background-position: -125px -50px;
    }
}