$icon-font-path: '../fonts/';

@import url(http://fonts.useso.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

// bower:scss
@import "../bower/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "../bower/admin-lte.scss/scss/admin-lte";
@import "skins/all-skins";

.table .cell-center,
.table-bordered .cell-center {
  text-align: center;
  vertical-align: middle;
}
.table tr:hover td,
.table-bordered tr:hover td {
  background-color: #CEE3F6;
}
.btn-box-tool-primary {
  color: #3c8dbc;
}
.btn-box-tool-primary:hover {
  color: #72afd2;
}
.form-group.has-error .required {
  color: #dd4b39;
}

@media (max-width: 1024px) {
  .btn-mobile {
    width:100%;
    margin-bottom:5px;
  }
}
